:root {
    --background: #dcdcdc;
    --foreground: #ffffff;

    /* valeurs de secours pour l'IDE */
    --font-geist-sans: avoid IDE error;
    --font-geist-mono: avoid IDE error;

    --text-primary: #000000;
    --text-secondary: #666666;

    --button-text: #ffffff;
    --button-background: #024873;
    --button-primary-hover : #0388A6;
}

@media (prefers-color-scheme: dark) {
  :root {
      --text-primary: #ffffff;

      --background: #202020;
      --foreground: #000000;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, var(--font-geist-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
